# Installs dependencies with exact version instead of using semver range operator.
save-exact=true

# For pnpm. Makes all dependencies hoisted to the root node_modules directory.
shamefully-hoist=true
