:root {
  --color-code-block: rgb(var(--color-pane));

  & .shiki {
    background-color: var(--color-code-block);
  }

  & .slidev-monaco-container {
    background-color: var(--color-code-block);

    & .monaco-editor {
      --vscode-editor-background: var(--color-code-block);
      --vscode-editorGutter-background: var(--color-code-block);

      @apply outline-none;
    }
  }
}

code,
kbd,
samp,
pre {
  @apply font-mono;
}
