:root {
  &.light {
    --slidev-theme-main-background: 250, 250, 252; /* #fafafc */
    --slidev-theme-code-background: 239, 241, 245; /* #eff1f5 */

    --slidev-theme-heading-text: 15, 23, 42; /* #0f172a */
    --slidev-theme-content-text: 51, 65, 85; /* #334155 */
    --slidev-theme-caption-text: 100, 116, 139; /* #64748b */

    --slidev-theme-main-border: 203, 213, 225; /* #cbd5e1 */
  }

  &.dark {
    --slidev-theme-main-background: 20, 20, 31; /* #14141f */
    --slidev-theme-code-background: 30, 30, 46; /* #1e1e2e */

    --slidev-theme-heading-text: 248, 250, 252; /* #f8fafc */
    --slidev-theme-content-text: 226, 232, 240; /* #e2e8f0 */
    --slidev-theme-caption-text: 148, 163, 184; /* #94a3b8 */

    --slidev-theme-main-border: 55, 65, 81; /* #374151 */
  }
}
