.slidev-layout {
  @apply h-full w-full px-8 py-6 text-body text-base;

  background-color: var(--slidev-slide-background);

  :is(.shiki, .slidev-monaco-container) {
    background-color: var(--slidev-code-block-background);
  }

  .monaco-editor {
    --vscode-editor-background: var(--slidev-code-block-background);
    --vscode-editorGutter-background: var(--slidev-code-block-background);

    @apply outline-none;
  }
}
