/* CSS variables used across the project. */

:root {
  --safe-fonts-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --safe-fonts-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --safe-fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --slidev-theme-font-header: 'Inter Variable', var(--safe-fonts-sans);
  --slidev-theme-font-body: 'Inter Variable', var(--safe-fonts-sans);
  --slidev-theme-font-mono: 'Fira Code Variable', var(--safe-fonts-mono);

  --slidev-theme-color-bg: light-dark(theme('colors.white'), theme('colors.slate.950'));
  --slidev-theme-color-text: light-dark(theme('colors.slate.800'), theme('colors.gray.200'));
  --slidev-theme-color-line: light-dark(theme('colors.slate.200'), theme('colors.slate.800'));
  --slidev-theme-color-border: transparent;

  --slidev-theme-color-text-lighted: light-dark(theme('colors.slate.900'), theme('colors.white'));
  --slidev-theme-color-text-dimmed: light-dark(theme('colors.slate.500'), theme('colors.gray.400'));

  --slidev-theme-color-code-bg: light-dark(theme('colors.slate.100'), theme('colors.slate.900'));
  --slidev-theme-color-code-text: light-dark(theme('colors.slate.900'), theme('colors.white'));
  --slidev-theme-color-code-border: var(--slidev-theme-color-line);
}
